<h1>Список задач</h1>

<%= link_to 'Новая задача', new_todo_path, id: 'new_todo_dialog' %>

<div class="todos">
  <% if @todos.present? %>
    <%= render @todos %>
  <% else %>
    Задач ещё нет
  <% end %>
</div>

